Freeze.DbEnv.IceStorm.DbHome=bdd
IceStorm.Trace.TopicManager=3
IceStorm.Trace.Subscriber=3
IceStorm.Trace.Topic=3
IceStorm.TopicManager.Endpoints=tcp -p 5038
IceStorm.Publish.Endpoints=tcp
